@page "/"

<PageTitle>Prompt2Plot Demo</PageTitle>

<h1>Prompt2Plot Demo</h1>

<p>
	This demo application converts natural language requests into SQL queries
	and automatically generates plots from the data.
</p>

<h4>How it works</h4>

<ol>
	<li>Enter a natural language prompt describing the plot you want.</li>
	<li>The system sends the request to the prompt workflow.</li>
	<li>The workflow generates SQL and chart configuration.</li>
	<li>The result is returned and displayed.</li>
</ol>